* {
    margin: 0px;
    padding: 0px;
    font-size: 32px;
    font-family: 'Orbitron';
    color: #FFFFFF;
    overflow-x: hidden;
}

html{
    background: rgb(86,0,126);
    background: url("/background.png"), linear-gradient(180deg, rgba(86,0,126,1) 0%, rgba(0,0,0,1) 25%);
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(180deg, rgb(39, 1, 56) 0%, rgba(0,0,0,1) 50%);;
}

::-webkit-scrollbar-track-piece {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background: #98979750;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ddd9d9c3;
}
