#intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    display: flex;
    text-align: center;
    font-size: 64px;
    padding-top: 40px;
    padding-bottom: 80px;
}

#intro-section h2 {
    align-self: flex-start;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 36px;
}

#intro-section p {
    padding-left: 40px;
    padding-bottom: 30px;
    font-size: 24px;
}

hr {
    display: flex;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 40px;
    border: #43424293 1px solid;
}

#hall-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hall-section div {
    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: auto auto;
    border: #bb00faa1 solid 3px;
    border-radius: 15px;
    width: 90%;
    margin: 20px 20px 20px 20px;
}

#hall-section div h3 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
    padding-left: 30px;
}

#hall-section div p {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
    padding-top: 20px;
    padding-left: 30px;
}

#hall-section div .material-icons {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    font-size: 40px;
    align-self: flex-end;
    padding: 15px;
}

#hall-section div .material-icons:hover {
    cursor: pointer;
}

.overflow-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.overflow-box {
    position: fixed;
    justify-self: flex-start;
    align-self: center;
    width: 40%;
    height: 90%;
    border: #bb00faa1 solid 3px;
    background-color: black;
    top: 5%;
}

.overflow-box .material-icons {
    display: flex;
    font-size: 40px;
    padding: 10px;
    align-self: center;
    justify-content: flex-end;
}

.overflow-box .material-icons:hover {
    cursor: pointer;
}

/*TODO: Create keyframes for the sparks on the gradient.*/