#intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    display: flex;
    text-align: center;
    font-size: 64px;
    padding-top: 40px;
    padding-bottom: 80px;
    text-shadow: 2px 2px 0px #595959;
    animation-name: retroFlashing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes retroFlashing {
    0% {text-shadow: 2px 2px 0px #8c8c8c}
    50% {text-shadow: 8px 8px 0px #a20bcb}
    100% {text-shadow: 2px 2px 0px #8c8c8c;}
}

#intro-section h2 {
    align-self: flex-start;
    padding-bottom: 30px;
    padding-left: 30px;
    font-size: 36px;
}

#intro-section p {
    padding-left: 40px;
    padding-bottom: 30px;
    font-size: 24px;
}

hr {
    display: flex;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 40px;
    border: #43424293 1px solid;
}

#hall-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hall-section div {
    display: grid;
    grid-template-columns: 80% 20% 5%;
    grid-template-rows: auto auto;
    border: #bb00faa1 solid 3px;
    border-radius: 15px;
    width: 90%;
    margin: 20px 20px 20px 20px;
}

#hall-section div h3 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
    padding-left: 30px;
}

#hall-section div p {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
    padding-top: 20px;
    padding-left: 30px;
    white-space: pre-line;
}

#hall-section div .material-icons {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    font-size: 40px;
    justify-content: end;
    padding: 15px;
}

#hall-section div .material-icons:hover {
    cursor: pointer;
}

#hall-section img {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.overflow-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.overflow-background:hover {
    cursor:pointer;
}

.overflow-box {
    position: fixed;
    display: grid;
    grid-template-columns: 50% 40% 10%;
    grid-template-rows: 15% 85%;
    align-self: center;
    width: 50%;
    height: 90%;
    border: #bb00faa1 solid 3px;
    background-color: black;
    top: 5%;
}

.overflow-box > h3:nth-of-type(1) {
    grid-row: 1;
    grid-column: 1/3;
    font-size: 2;
    padding-left: 60px;
    padding-top: 20px;
    animation-name: retroFlashing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.overflow-box .material-icons {
    grid-row: 1;
    grid-column: 3;
    font-size: 40px;
    padding: 10px;
}

.overflow-box .material-icons:hover {
    cursor: pointer;
}

.overflow-box .informational-box {
    grid-row: 2;
    overflow-y: scroll;
}

.overflow-box .informational-box h3 {
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.overflow-box .informational-box > p {
    margin-left: 5px;
    font-style: italic;
    font-size: 16px;
    padding-bottom: 5px;
}

.overflow-box img {
    position: relative;
    width: 100%;
    height: 30%;
    margin-left: 40px;
    grid-row: 2;
    grid-column: 2;
    border: #bb00faa1 3px solid;
}

.overflow-box iframe {
    position: relative;
    margin-left: 40px;
    margin-top: 70%;
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 30%;
    border: #bb00faa1 3px solid;
}

footer {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
    align-content: center;
}

footer a {
    text-decoration: none;
    font-size: 20px;
}